.title {
  color: #213782;
  margin-top: 5%;
  padding-bottom: 5%;
}

.content {
  color: #211f5b;
  font-size: 1.6rem;
  padding: 0 20px;
}

.contentDiv {
  margin-top: 1%;
}

.slogan {
  font-size: 1.2rem;
  color: #211f5b;
}
